@import './animation/animation.css';

body{
    max-width: 1170px;
    margin: auto;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
h1,h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1{
    font-size: 48px;
    font-weight: 600;
}

h2{
    font-size: 36px;
}

.carousel-caption{
    bottom:10rem;
    animation:slide-in 1.5s ease-out 1;
}

.my-carrousel-img{
    height: 736px;
    object-fit: cover;
}


.my-canvas{
    display: none;
}
.offcanvas-body {
    margin-top: 60px;
}
.my-aside{
    background-color: #f2f3f7;
    overflow: scroll;
}

.my-aside-card{
    margin-top: 20px;
    border:transparent;
    background-color: #f2f3f7;
}

.my-aside-photo{
    width: 150px;
    margin: 0px auto 0px auto;
}

.my-list-item{
    margin-bottom: 16px;
}

.my-list-group a{
    text-align: center;
    text-decoration: none;
    color: rgb(118, 118, 118);
}

.my-list-item:hover,
.my-list-item:active,
.my-list-item:focus{
    text-decoration: underline;
    color: rgb(33, 157, 194);
}

.my-paragraph{
    margin: 20px 0px 80px 0px;
}
.my-paragraph>span{
    color:rgb(118, 118, 118);
    font-weight: 500;
    letter-spacing: 5px;
    display: block;
    margin-bottom: 20px;
}
.my-paragraph h2{
    margin-bottom: 30px;
    letter-spacing: 5px;
}
.my-paragraph p{
    color:rgb(118, 118, 118);
    letter-spacing: 2px;
}

.my-services-card{
    border: transparent;
}

.my-card-img-top{
    height: 220px;
    object-fit: cover;
    border-radius: 10px;
}

.my-card-list{
    list-style: none;
}

@media screen and (max-width:769px) {
    .my-canvas{
        display: block;
    }
    .navbar{
        padding: 0px;
    }
    .navbar-toggler{
        position: fixed;
        filter: brightness(100);
        top: 2%;
        z-index: 999;
    }
    .navbar-toggler:focus{
        color: transparent;
    }
    .my-aside{
        display: none;
    }
    .btn-close{
        visibility:visible;
    }

    .offcanvas {
        max-width: 80%;
        background-color: #f2f3f7;
    }
    #carouselExampleAutoplaying{
        width: auto;
        float: right;
    }
    .my-paragraph{
        text-align: center;
    }
}